* {
    margin: 0;
    padding: 0;
}

#wrap {
    position: relative;
}



#header {
    width: 100%;
    display: flex;
    background-color: #b6174b;
    z-index: 2;
    padding: 15px 0px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    padding: 15px 0px;
}


#header #logo > img{
    padding-top: 5px;
    width: 245px;
    height: 46.81px;
    margin-left: -18px;
    margin-right: 300px;
}


/* 해상도가 1450px 이상인 경우 */
@media (min-width: 1450px) {
    #header #logo > img {
        margin-right: 300px; /* 해상도에 따라 조절하려는 값 */
    }
}

/* 해상도가 1210px 이상 1450px 미만인 경우 */
@media (min-width: 1210px) and (max-width: 1449px) {
    #header #logo > img {
        margin-right: 150px; /* 해상도에 따라 조절하려는 값 */
    }
}

/* 해상도가 1210px 이하인 경우 */
@media (max-width: 1209px) {
    #header #logo > img {
        margin-right: 0px; /* 초기값 */
        margin-left: 30px;
    }
    #header #nav1 {
        margin-left: -20px;
    }
}
@media (max-width: 999px) {
    #menu {
        display: none;
    }
}




#header #header_search{
    margin-left: 40px;
}
#header_search input[type="text"]::placeholder {
    color:white; /* placeholder의 색상을 회색으로 설정합니다. */
    padding-left:10px;
}


#header #nav2 {
    width: 340px;
    height: 60px;
}

#header_search {
    display: flex;
    border: 1px solid #ffc107;
    
}

#search input[type="text"],
#search button {
    margin-right:0px; /* 원하는 간격으로 조정할 수 있습니다. */
    margin-left: 10px;
}
#header_search input[type="text"] {
    border: px solid #ffc107;
    background-color: #b6174b;
    color: white;

}

#search button {
    border-radius: 0 20px 20px 0; /* 오른쪽 모서리만 둥글게 설정 */
    border-width: 1px;

}




#menu {
    width: 100%;

    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 9999; /* 메뉴가 이미지 위에 오도록 설정 */
    position: relative; /* 위치를 상대적으로 설정 */

}
#menu ul, #menu li {
    list-style-type: none;
}
#menu a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 텍스트 색상을 검은색으로 설정 */
}
#menu > ul {
    
    display: flex;
    justify-content: center; 

}

#menu > ul > li {
    position: relative;
    margin-right: 62px; /* 각 메뉴 항목 사이의 간격 조절 */
    font-size: 16px;
    font-weight: 500; 
}
#menu > ul > li > a {
    display: inline-block;
    
    padding: 18px 0px;
}

#menu > ul > li > a:hover {
    background-color: white;
}

#menu > ul > li > ul {
    position: absolute;
    left: 0;
    top: 100%; /* 부모 메뉴 아래에 위치하도록 조정 */
    background-color: white;
    width: 140px;
    z-index: 9999;
    display: none;
}
#menu > ul > li:hover > ul {
    display: block; /* 부모 요소(li)에 마우스를 올리면 서브메뉴를 보여줌 */
}

#menu > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

#menu > ul > li > ul > li > a:hover {
    background-color: #ffc107;
}
/* 해상도가 1450px 이상인 경우 */
@media (min-width: 1000px) {
    #menu {
        display: flex;
    }
}

/* 해상도가 1210px 이하인 경우 */
@media (max-width: 999px) {
    #menu {
        display: none;
    }
}
